@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor


@{
    var session = HttpContextAccessor.HttpContext.Session;
    string jsoncart = session.GetString(PetShop.Controllers.ProductsController.CARTKEY);
    if (jsoncart != null)
    {
        var cart = JsonConvert.DeserializeObject<List<CartItem>>(jsoncart);
        <div class="nav-item nav-link"><a asp-route="cart">Cart(@cart.Count)</a></div>
    }else{
        <div class="nav-item nav-link"><a asp-route="cart">Cart(0)</a></div>
    }
}
